body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}
.container {
    background-color: white;
    width: 300px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.inputArea {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    overflow: hidden;
}
.text {
    flex-grow: 1;
    border: none;
    background-color: aliceblue;
    padding: 10px 15px;
    outline: none;
}
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
.list {
    list-style-type: none;
    padding: 0;
}
.list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}
.list label {
    flex-grow: 1;
}
.checkbox {
    margin-right: 15px;
}
.deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.deleteBtn:hover {
    opacity: 1;
}